.section {
    background-color: $blue-light;
    padding: 30px 5px;
    color: $blue;
    text-align: center;
}

.section__descr-XXL {
    font-size: 40px;
    font-weight: 700;
}

.section__descr-XL {
    font-size: 30px;
}

.section__descr {
    font-size: 25px;
}

.section__btn {
    padding: 10px 20px;
    border-radius: 7px;
    letter-spacing: 2px;
    font-weight: 700;
    color: $blue-light;
    background-color: $pink;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: darken($pink, 10%);
    }

    &:active {
        background-color: darken($pink, 20%);
    }
}

.section__list,
.section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section__list {
    gap: 30px;
}